Wi-Fi connected to 5GHz network. Link rate: 866 Mbps.
